<h1>Homes for: <%=@seller.name%></h1>
<button type='button'>
<%= link_to 'Edit Seller', edit_seller_path(@seller) %> <br />
</button>
<button type='button'>
<%= link_to 'Delete Seller', seller_path(@seller), method: :delete, data: {confirm: 'Are you sure you want to delete this listing?'} %>
</button>
<hr />

<% if @seller.homes.any? %>
  <% @seller.homes.each do |home| %>
    <% if home.address %>
      <div class = 'house'>
        <h3><%= link_to home.address.street, seller_home_path(@seller, home) %></h3>
      </div>  
    <% else %>
      <div class = 'house'>
        <h3><%= link_to 'New Home', seller_home_path(@seller, home) %></h3>
        <button type='button'>
        <%= link_to 'add address', new_seller_home_address_path(@seller, home) %>
        </button>
      </div>  
    <% end %>
  <% end %>
<% else %>
    <h2>This person needs homes to sell</h2>
<% end%>    
<hr />
<button type='button'>
<%= link_to 'Add Home', new_seller_home_path(@seller) %>
</button>




